
.sidebar {
  padding-top: 0;
}
.sidebar > .app-name {
  padding: 10px 10px;
  text-align: left;
  margin-bottom: 0;
  box-shadow: 0 1px 2px rgba(0,0,0,.05);
}
.app-name a {
  display: block;
}
.sidebar-nav {
  padding: 10px 10px;
}
.sidebar-nav h2 {
  margin: 10px 0;
}
.sidebar-nav li {
  margin: 0 0 0;
}
.sidebar-nav h4 {
  margin: 0 0;
}
.sidebar .sidebar-nav a:hover {
  text-decoration: none;
}
.sidebar .sidebar-nav li a:hover {
  color: #42b983;
}


.content {
  padding-top: 20px;
}
.markdown-section {
  margin-top: 0;
  margin-left: 50px;
  margin-right: 70px;
  max-width: 1430px;
  padding: 30px 15px 40px;
  position: relative;
}
.markdown-section pre {
  max-height: 450px;
  padding: 0 .7rem;
  line-height: 1.25rem;
}
.markdown-section pre > code {
  margin: 0 0;
  padding: .5rem 0;
}
.markdown-section pre {
  max-height: 350px;
}
/*.markdown-section pre::-webkit-scrollbar {
  width: 10px;
  height: 1px;
}*/

#gitalk-container {
  width: unset !important;
  max-width: 1430px;
  padding: 0 30px;
}

.markdown-section blockquote {
  margin: 0 0;
}
.markdown-section h6 {
  margin: 10px 0;
}
@media (max-width: 768px) {
  .markdown-section h1,
  .markdown-section h2,
  .markdown-section h3,
  .markdown-section h4,
  .markdown-section h5,
  .markdown-section h6 {
    margin: 8px 0;
  }
  .markdown-section {
    margin-left: 0;
    margin-right: 0;
  }
}